
<% # Uses the TBFB helper to include the form-horizontal class %>
<%= form_for @post do |f| %>

  <% # Generates a control group with both "text_field" and "email" classes %>
  <%= f.text_field :email %>

  <% # Show both the left and right labels %>
  <%= f.check_box :hide_email, :text => "Don't show my email address in my posts" %>

  <% # Show a helpful message %>
  <%= f.text_area :body, :help_block => "Simple HTML tags are allowed", :rows => 3 %>

  <% # Show only the right ":text" label %>
  <%= f.check_box :terms_of_service, :label => nil, :text => "I have read and agreed to the terms of service" %>

  <div class="form-actions">
    <%= f.submit "Create", :primary => true %>
    <a href="/" class="btn">Cancel</a>
  </div>

<% end %>
